.btn_add {
  padding: 21px 25px;
  background-color: #9395d3;
  border: none;
  border-radius: 50%;
}
/* Mobile */
@media all and (max-width: 450px) {
  .btn_add {
    padding: 12px 16px;
  }
}
.hovered {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.1),
    0px 0px 0px 0px rgba(0, 0, 0, 0.1);
}
